src/interpreter/blackbox
src/interpreter/test.bin
src/assembler/asm
src/assembler/test.bbx
src/assembler/test.bcx
src/assembler/blackbox-assembler
src/assembler/app.bcx
src/assembler/output.bcx
*.bcx
src/assembler/bbx-asm
src/interpreter/bbx
bbx
bbx-asm
src/assembler/output.bcx.bak
src/assembler/test
test.bbx
output.bbx
src/assembler/tools.o
src/assembler/assembler.o
.VSCodeCounter/
blackbox.exe
bbx-asm.exe
src/interpreter/blackbox.obj
src/assembler/assembler.obj
src/assembler/tools.obj
qozoq
test
calc.bbx
/string.bbx
