src/interpreter/blackbox
src/interpreter/test.bin
src/assembler/asm
src/assembler/test.bbx
src/assembler/test.bcx
src/assembler/blackbox-assembler
src/assembler/app.bcx
src/assembler/output.bcx
*.bcx
src/assembler/bbx-asm
src/interpreter/bbx
